%h4{:id => 'new_movie_title'} Add New Movie
= form_tag movies_path, :class=> 'form-horizontal' do
  %div.control-group
    = label :movie, :title, 'Title', :class => 'control-label'
    %div.controls
      = text_field :movie, 'title', :placeholder => "Title of Movie"
  %div.control-group
    = label :movie, :director, 'Director', :class => 'control-label'
    %div.controls
      = text_field :movie, 'director', :placeholder => "Director of Movie"

  %div.control-group
    = label :movie, :description, 'Description', :class => 'control-label'
    %div.controls
      = text_area :movie, 'description', :size => "35x4", :placeholder => "Add some description"

  %div.control-group
    = label :movie, :rating, 'Rating', :class => 'control-label'
    %div.controls
      = select :movie, :rating, ['G','PG','PG-13','R','NC-17']

  %div.control-group
    = label :movie, :release_date, 'Released On', :class => 'control-label'
    %div.controls
      = date_select :movie, :release_date


