!!! 5
%html
	%head
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		= csrf_meta_tags
		= stylesheet_link_tag 'bootstrap/css/bootstrap'
		= stylesheet_link_tag 'bootstrap/css/bootstrap-responsive'
		= stylesheet_link_tag 'jquery/styles/jquery-ui-1.10.2.custom.min'
		= stylesheet_link_tag 'application'

	%body
		= render :partial => "layouts/header_container"
		
		%div.container-fluid
			%div.row-fluid
				- if flash[:notice]
					%div{:class=>'alert alert-success'}= flash[:notice]
				- elsif flash[:warning]
					%div{:class=>'alert alert-error'}= flash[:warning]
			%div.row-fluid
				= yield
	= javascript_include_tag 'application'
