!!! 5
%html
  %head
    %title Rotten Potatoes!
    = stylesheet_link_tag 'bootstrap/css/bootstrap'
    = stylesheet_link_tag 'bootstrap/css/bootstrap-responsive'
    = stylesheet_link_tag 'jquery/styles/jquery-ui-1.10.2.custom.min'
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    = csrf_meta_tags

  %body
    %div.well
      %div.container
        %h2 Rotten Potatoes!!!
    %div.container
      - if flash[:notice]
        #message_container
          #notice.message= flash[:notice]
      - elsif flash[:warning]
        #message_container
          #warning.message= flash[:warning]
      
      = yield
